{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4">
  <div class="row">
      <div class="col-sm-8">
          <div class="card">
              <div class="card-header">
                  <h5>Edit Info</h5>
              </div>
              <div class="card-block px-4">
                  <form class="row" method="POST" action="{{ url_for('home_blueprint.profile') }}">
                      <div class="col-sm-6 mb-3">
                          <div class="form-group">
                              <label for="exampleInputUsername">Username</label>
                              <input class="form-control border ps-2" id="exampleInputUsername" readonly 
                                      value="{{ current_user.username }}" aria-describedby="userHelp" placeholder="Enter username">
                          </div>
                      </div>
                      <div class="col-sm-6 mb-3">
                          <div class="form-group">
                              <label {% if not current_user.email %} class="text-danger" {% endif %} for="exampleInputEmail1">Email address</label>
                              <input type="email" class="form-control border ps-2" id="exampleInputEmail1" readonly 
                                      value="{{ current_user.email }}" aria-describedby="emailHelp" placeholder="Enter email">
                          </div>
                      </div>                                                
                      <div class="col-sm-6 mb-3">
                          <div class="form-group">
                              <label for="fn">First Name</label>
                              <input type="text" name="first_name" class="form-control border ps-2" id="fn" 
                                      value="{{ current_user.first_name or '' }}" placeholder="Your name">
                          </div>
                      </div>
                      <div class="col-sm-6 mb-3">
                          <div class="form-group">
                              <label for="ln">Last Name</label>
                              <input type="text" name="last_name" class="form-control border ps-2" id="ln" 
                                      value="{{ current_user.last_name or '' }}" placeholder="Your last name">
                          </div>
                      </div>
                      <div class="col-sm-12 mb-3">
                          <div class="form-group">
                              <label for="add">Address</label>
                              <input type="text" name="address" class="form-control border ps-2" id="add" 
                                      value="{{ current_user.address or '' }}" placeholder="Full address here">
                              <small id="addd" class="form-text text-muted">This is your shipments address</small>
                          </div>
                      </div>
                      <div class="col-sm-12 mb-3">
                          <div class="form-group">
                              <label for="abt">About Info</label>
                              <textarea name="bio" class="form-control border ps-2" id="abt" placeholder="Bio">{{ current_user.bio or '' }}</textarea>
                              <small id="abf" class="form-text text-muted">We'll show this on your profile.</small>
                          </div>
                      </div>
                      <div class="col-sm-12 mb-2">
                          <div class="form-group">
                              <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                      </div>                                                
                  </form>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="card">
              <div class="card-block">
                  <div class="d-flex align-items-center justify-content-center flex-column">
                      <div class="w-50 p-3">
                          <img src="{{ url_for('static', filename='assets/img/avatar.jpg') }}" alt="profile image"
                              class="img-fluid rounded-circle">
                      </div>
                      <div class="text-center">
                          <h4 class="font-weight-bold h6">
                              {{ current_user.username }}
                          </h4>
                          <p class="font-italic text-muted">
                              {% if current_user.email %} {{ current_user.email }} {% endif %}
                          </p>
                      </div>
                  </div>

                  <div class="small font-weight-light mt-4 text-center text-muted">
                      <p>
                          This page is your private space.
                          <br />
                      </p>
                  </div>
                  <div class="d-flex justify-content-center align-items-center">
                  
                      <a href="https://github.com/app-generator/app-generator" 
                      target="_blank" 
                      class="h6 text-muted d-block m-1"><i
                      class="icon feather icon-github"></i></a>

                      <a href="https://twitter.com/webappseed" 
                      target="_blank" 
                      class="h6 text-muted d-block m-1"><i
                      class="icon feather icon-twitter"></i></a>

                      <a href="https://appseed.us/support/" 
                      target="_blank" 
                      class="h6 text-muted d-block m-1"><i
                      class="icon feather icon-help-circle"></i></a>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}
