{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h5>Edit Info</h5>
                </div>
                <div class="card-block px-4">
                    <form class="row" method="POST">
                        {{ form.hidden_tag() }}

                        {% for field in form %}
                            {% if field.type in ['CSRFTokenField', 'HiddenField'] %}
                                {{ field() }}
                            {% else %}
                                <div class="{% if field.name in full_width_fields %}col-sm-12{% else %}col-sm-6{% endif %} mb-3">
                                    <div class="form-group">
                                        <label for="" class="form-label">{{ field.name|replace_value("_") }} {% if field.name in readonly_fields %}(read-only){% endif %} </label>
                                        {{ field(class_="form-control border ps-1", readonly=True if field.name in readonly_fields else False) }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div class="col-sm-12 mb-2">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>                                                
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <div class="d-flex align-items-center justify-content-center flex-column">
                        <div class="w-50 p-3">
                            <img src="{{ url_for('static', filename='assets/img/avatar.jpg') }}" alt="profile image"
                                class="img-fluid rounded-circle">
                        </div>
                        <div class="text-center">
                            <h4 class="font-weight-bold h6">
                                {{ current_user.username }}
                            </h4>
                            <p class="font-italic text-muted">
                                {% if current_user.email %} {{ current_user.email }} {% endif %}
                            </p>
                        </div>
                    </div>

                    <div class="small font-weight-light mt-4 text-center text-muted">
                        <p>
                            This page is your private space.
                            <br />
                        </p>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                    
                        <a href="https://github.com/app-generator/app-generator" 
                        target="_blank" 
                        class="h6 text-muted d-block m-1"><i
                        class="icon feather icon-github"></i></a>

                        <a href="https://twitter.com/webappseed" 
                        target="_blank" 
                        class="h6 text-muted d-block m-1"><i
                        class="icon feather icon-twitter"></i></a>

                        <a href="https://appseed.us/support/" 
                        target="_blank" 
                        class="h6 text-muted d-block m-1"><i
                        class="icon feather icon-help-circle"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
