
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "includes/head.html" %}
    {% block extrastyle %}{% endblock extrastyle %}
</head>

<body class="{% block body %}{% endblock body %}">
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        {% include "includes/navigation-auth.html" %}
      </div>
    </div>
  </div>
  {% block content %}{% endblock content %}

  {% include "includes/scripts.html" %}
  {% block extra_js %}{% endblock extra_js %}
</body>

</html>