

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a href="https://appseed.us/admin-dashboards/flask-dashboard-material-design">
                  Flask Dashboard Material
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; Creative Tim - Coded in Flask by AppSeed
          </div>
        </div>
    </footer>
