
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Login</h4>

                    {% if msg %}
                        <p class="card-category">{{ msg | safe }}</p>
                    {% else %}
                        <p class="card-category">Enter your credentials</p>
                    {% endif %}

                </div>
                <div class="card-body">
                  <form method="post" action="">

                    {{ form.hidden_tag() }}

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Username</label>
                          {{ form.username(class="form-control") }}
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Password</label>
                          {{ form.password(class="form-control") }}
                        </div>
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary pull-left">Submit</button> &nbsp;&nbsp; or <a href={{ url_for('register') }}>Register</a> 
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>

