<footer class="footer py-4  ">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="copyright text-center text-sm text-muted text-lg-start">
            &copy; Creative-Tim - Coded by <strong>App-Generator</strong>
          </div>
        </div>
        <div class="col-lg-6">
          <ul class="nav nav-footer justify-content-center justify-content-lg-end">
            <li class="nav-item">
              <a href="https://app-generator.dev/product/material-dashboard/flask/" class="nav-link text-muted" target="_blank">Download</a>
            </li>
            <li class="nav-item">
              <a href="https://app-generator.dev/docs/products/flask/material-dashboard/index.html" class="nav-link text-muted" target="_blank">Documentation</a>
            </li>
            <li class="nav-item">
              <a href="https://app-generator.dev/blog/" class="nav-link text-muted" target="_blank">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</footer>