{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="container-fluid py-2">
    <div class="row">
        <div class="ms-3">
            <h3 class="mb-0 h4 font-weight-bolder">Dynamic Datatables</h3>
            <p class="mb-4">
              Manage your data without coding - Read <u><a target="_blank" href="https://app-generator.dev/docs/products/flask/material-dashboard/index.html">DOCS</a></u>.
            </p>
        </div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header p-2 ps-3">
                    <h4 class="mb-0">Available Routes (defined in config.DYNAMIC_DATATB)</h4>
                </div>
                <div class="card-body">
                    <ul class="">
                        {% for link in routes %}
                            <li class="">
                                <a class="" href="{{ url_for('table_blueprint.model_dt', aPath=link) }}">{{ link }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}