

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer"
                   href="https://appseed.us/admin-dashboards/flask-dashboard-material-design">
                  Flask Dashboard - Material Design
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; Creative Tim 
            - coded by <a target="_blank" rel="noopener noreferrer" href="https://appseed.us">AppSeed</a>
          </div>
        </div>
    </footer>
