    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a target="_blank" rel="noopener noreferrer" 
           href="https://appseed.us/admin-dashboards/flask-dashboard-material-design" class="simple-text logo-normal">
          SNOWBIRDS on FHIR
        </a>
      </div>
      
      <div class="sidebar-wrapper">
        <ul class="nav">
          {% if current_user.is_authenticated %}
          <li class="nav-item {% if 'index' in segment %} active {% endif %}">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p>Patient Resources</p>
            </a>
          </li>
          <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
            <a class="nav-link" href="/page-user.html">
              <i class="fa fa-calendar" style="font-size:36px"></i>
              <p><u>This Week</u></p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-tables.html">
              <i class="material-icons" style="font-size:36px">trending_up</i>
              <p><u>Trends</u></p>
            </a>
          </li>
          <li class="nav-item {% if 'typography' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-typography.html">
              <i class="material-icons">library_books</i>
              <p><u>My Diary</u></p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-icons' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-icons.html">
              <i class="material-icons">bubble_chart</i>
              <p><u>Other Resources</u></p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-maps' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-maps.html">
              <i class="material-icons" style="font-size:36px">settings</i>
              <p><u>Settings</u></p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-notifications' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-notifications.html">
              <i class="material-icons" style="font-size:36px">person</i>
              <p><u>Logout</u></p>
            </a>
          </li>
          {% else %}
          <li class="nav-item active">
            <a class="nav-link" 
               target="_blank" rel="noopener noreferrer"  
               href="https://appseed.us/admin-dashboards/flask-dashboard-material-pro">
              <i class="material-icons">unarchive</i>
              <p>PRO Version</p>
            </a>
          </li>          
          {% endif %}
        </ul>
      </div>
      

    </div>
