
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <!-- Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
           Tip 2: you can also add an image using data-image tag -->
      <div class="logo">
        <a href="https://github.com/app-generator/flask-material-dashboard" class="simple-text logo-normal">
          Get Code
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/user.html">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/tables.html">
              <i class="material-icons">content_paste</i>
              <p>Table List</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/typography.html">
              <i class="material-icons">library_books</i>
              <p>Typography</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/icons.html">
              <i class="material-icons">bubble_chart</i>
              <p>Icons</p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="/notifications.html">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>

          {% if current_user.is_authenticated %}

          <li class="nav-item ">
            <a class="nav-link" href={{ url_for('logout') }}>
              <i class="material-icons">account_box</i>
              <p>Logout</p>
            </a>
          </li>

          {% else %}

          <li class="nav-item ">
            <a class="nav-link" href={{ url_for('login') }}>
              <i class="material-icons">account_box</i>
              <p>Login</p>
            </a>
          </li>

          {% endif %}

          <li class="nav-item active-pro ">
            <a class="nav-link" href="https://appseed.us">
              <i class="material-icons">rocket</i>
              <p>APPSEED</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

